{% set item = item | int %}
{% if 'peer_base_asn' in peer_config %}
{% set asn = peer_config.peer_base_asn + item %}
{% else %}
{% set asn = item %}
{% endif %}

{% if 'peer_specific' in peer_config and item in peer_config.peer_specific %}
{% if 'asn' in peer_config['peer_specific'][item] %}
{% set asn = peer_config['peer_specific'][item]['asn'] %}
{% endif %}
{% endif %}


router bgp {{ asn }}
{% set export = false %}
{% for vlan in peer_config.vlans %}
   neighbor 10.0.{{ vlan.vlan }}.253 remote-as 65000
{% if export %}
   neighbor 10.0.{{ vlan.vlan }}.253 route-map EXPORT out
{% set export = false %}
{% endif %}
   network 10.{{ vlan.vlan }}.{{ item }}.0/24
{% endfor %}
   !redistribute connected
{% for network in peer_config.networks | default([]) %}
   network {{ network }}
{% endfor %}
!
!
{% for network in peer_config.networks | default([]) %}
{% set k = loop.index %}
ip prefix-list prefix_{{ k }} seq 5 permit {{ network }}

{% set aspath = []  %}
{% for i in range(k) %}
{{ aspath.append( asn ) }}
{% endfor %}

route-map EXPORT permit {{ k }}
{% if aspath %}
 match ip address prefix-list prefix_{{ k }}
 set as-path prepend {{ aspath|join(' ') }}
{% endif %}
!
{% endfor %}

log file /var/log/quagga/peer_{{ item }}.log informational
log timestamp precision 3
