---
version: 2

routers:
   router1:
       vlans: {{ interfaces | map(attribute='vlan')|list|to_json }}

{% set port_vlans = {} %}
{% for vlan in interfaces %}
 {% for port in vlan.switch_ports %}
   {% if port in port_vlans %}
     {% if vlan.vlan not in port_vlans[port] %}
       {{ port_vlans[port].append(vlan.vlan) }}
     {% endif %}
   {% else %}
     {% set vlan_list = [vlan.vlan] %}
     {{ port_vlans.update({port : vlan_list }) }}
   {% endif %}
 {% endfor %}
{% endfor %}

dps:
    switch_{{ router_name }}:
        dp_id: {{ switch_dpid }}
        hardware: "Allied-Telesis"
        description: "switch_{{ router_name }}"
        global_vlan: 4000
        interfaces:
{% for port in port_vlans %}
            {{ port }}:
                name: "port_{{ port }}"
                tagged_vlans: {{ port_vlans[port]|list|to_json }}
{% endfor %}

vlans:
{% for vlan in interfaces %}
   {{ vlan.vlan }}:
       vid: {{ vlans[vlan.vlan]['id'] }}
{% if 'faucet_vips' in vlan %}
       faucet_vips: {{ vlan.faucet_vips | to_json }}
{% else %}
       faucet_vips: [ 10.0.{{ vlans[vlan.vlan]['id'] }}.254/24 ]
{% endif %}
{% if 'faucet_mac' in vlan %}
       faucet_mac: {{ vlan.faucet_mac }}
{% endif %}
{% endfor %}
